@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
:root
{
    --dropdown-height: 8vh;
}

*
{
    z-index: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "Open Sans", sans-serif;
}
body
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(232, 232, 232);
}
@media only screen and (max-width: 600px){
    body
    {
        height: 90vh;
    }
    .dropdown-toggle-container
    {
        transform: translateY(-50%);
        left: 10% !important;
    }
    .dropdown-toggle-container.active
    {
        left: 8% !important;
    }
    .content-wrapper
    {
        height: calc(90vh - var(--dropdown-height)) !important;
    }

    .taqu-field-container
    {
        width: 70% !important;
        /* height: 60% !important; */
    }

    
}
.testing
{
    background-color: rgba(0, 0, 0, 20%);
}
.hidden
{
    visibility: hidden;
}
.dropdown
{
    position: relative;
    width: 100%;
    height: 8vh;
    background-color: rgb(99, 90, 90);
    transition: .3s;
    
}
.dropdown.active
{
    height: 50vh;
}
.dropdown-container
{
    position: absolute;
    width: 100%;
    height: var(--dropdown-height);
}
.dropdown-toggle-container
{
    position: absolute;
    cursor: pointer;
    width: 2.6rem;
    aspect-ratio: 1.6 / 1;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    background: none;
    border: none;
}
.dropdown-toggle-container:before,
.dropdown-toggle-container:after
{
    content: "";
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: black;
    transform: translate(-40%);
}
.dropdown-toggle-container:before
{
    top: 0;
    transition: .3s;
}
.dropdown-toggle-container:after
{
    bottom: 0;
    transition: .3s;
}
.dropdown-toggle-container.active
{
    left: 5%;
}
.dropdown-toggle-container.active:before
{
    top: 50%;
    transform: rotate(45deg);
    transition: .3s;
}
.dropdown-toggle-container.active:after
{
    top: 50%;
    transform: rotate(-48deg);
    transition: .3s;
}
.dropdown-toggle-container.active div
{
    transform: translateX(70%);
    opacity: 0;
    transition: .2s;
}
.dropdown-toggle-container div
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: black;
}
.link-container
{
    visibility: hidden;
}
.link-container.active
{
    visibility: visible;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80%;
    top: 60%;
    transform: translateY(-50%);
}
.ref-container
{
    visibility: hidden;
}
.ref-container.active
{
    position: relative;
    visibility: visible;
    cursor: pointer;
    width: 60%;
    height: 3rem;
    /* border: .125rem solid black; */
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 20%);
    box-shadow: inset 0 0 5px black;
}
.ref-container.active:hover
{
    box-shadow: inset 0 0 15px 3px black;
    transition: .2s;
}
.ref-container.active a
{
    text-decoration: none;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ref-container.active a::selection
{
    background-color: none;
}
.back-button-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    width: 2.6rem;
    aspect-ratio: 1 / 1;
    top: 50%;
    left: 3%;
    transform: translate(50%, -50%);
    opacity: 0;
}
.back-button-container.active
{
    transform: translate(0, -50%);
    opacity: 1;
    transition: .4s;
}

.back-button
{
    width: 80%;
    height: .15rem;
    background-color: black;
}
.back-button:before, .back-button:after
{
    content: "";
    position: absolute;
    width: 42%;
    height: .15rem;
    background-color: black;
}
.back-button:before
{
    top: 60%;
    transform: rotate(33deg);
}
.back-button:after
{
    top: 33%;
    transform: rotate(-35deg);
}
.content-wrapper
{
    position: absolute;
    height: calc(100vh - var(--dropdown-height));
    width: 100%;
}
@keyframes taqu-field-expand
{
    0%
    {
        height: 0%;
    }
    100%
    {
        height: 80%;
    }
}
@keyframes taqu-field-enter
{
    0%
    {
        top: 0%;
    }
    100%
    {
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
.taqu-field-container
{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 20%;
    height: 0%;
    border: .1rem solid black;

    animation-name: taqu-field-enter, taqu-field-expand;
    animation-delay: .4s, .7s;
    animation-duration: .5s, .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.taqu-field-container div
{
    height: 33.333333%;
    width: 100%;
}
.taqu-field-middle
{
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.taqu-field-middle div
{
    height: 100%;
}
.taqu-field-line
{
    position: relative;
}
.taqu-field-line:before
{
    content: "";
    position: absolute;
    width: 100%;
    height: .1rem;
    background: black;
    top: 50%;
    transform: translateY(-50%);
}
@keyframes taqu-frame-box-expand
{
    0% { height: 0%; }
    100% { height: 98%; }
}
.taqu-field-box
{
    position: relative;
    width: 100%;
}
.taqu-field-box:before
{
    content: "";
    position: absolute;
    width: 99%;
    top: 50%;
    transform: translateY(-50%);
    border: .1rem solid black;
    animation-name: taqu-frame-box-expand;
    animation-duration: .2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    
}