@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
:root
{
    --dropdown-height: 8vh;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "Open Sans", sans-serif;
}
*::selection
{
    background: none;
}
body
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(232, 232, 232);
    overflow: hidden;
}
@media only screen and (max-width: 600px){
    body
    {
        height: 90vh;
    }
    .dropdown-toggle-container
    {
        transform: translateY(-50%);
        left: 10% !important;
    }
    .dropdown-toggle-container.active
    {
        left: 8% !important;
    }
    .content-wrapper
    {
        height: calc(90vh - var(--dropdown-height)) !important;
    }

    .reset-button-container
    {
        animation-name: none !important;
    }
    .player-set-container
    {
        width: 2rem !important;
        height: 4rem !important;
    }

    
}
.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hidden
{
    visibility: hidden;
}
.dropdown
{
    position: relative;
    width: 100%;
    height: 8vh;
    background-color: rgb(99, 90, 90);
    transition: .3s;
    
}
.dropdown.active
{
    height: 50vh;
}
.dropdown-container
{
    position: absolute;
    width: 100%;
    height: var(--dropdown-height);
}
.dropdown-toggle-container
{
    position: absolute;
    cursor: pointer;
    width: 2.6rem;
    aspect-ratio: 1.6 / 1;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    background: none;
    border: none;
}
.dropdown-toggle-container:before,
.dropdown-toggle-container:after
{
    content: "";
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: black;
    transform: translate(-40%);
}
.dropdown-toggle-container:before
{
    top: 0;
    transition: .3s;
}
.dropdown-toggle-container:after
{
    bottom: 0;
    transition: .3s;
}
.dropdown-toggle-container.active
{
    left: 5%;
}
.dropdown-toggle-container.active:before
{
    top: 50%;
    transform: rotate(45deg);
    transition: .3s;
}
.dropdown-toggle-container.active:after
{
    top: 50%;
    transform: rotate(-48deg);
    transition: .3s;
}
.dropdown-toggle-container.active div
{
    transform: translateX(70%);
    opacity: 0;
    transition: .2s;
}
.dropdown-toggle-container div
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: black;
}
.link-container
{
    visibility: hidden;
}
.link-container.active
{
    visibility: visible;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80%;
    top: 60%;
    transform: translateY(-50%);
}
.ref-container
{
    visibility: hidden;
}
.ref-container.active
{
    position: relative;
    visibility: visible;
    cursor: pointer;
    width: 60%;
    height: 3rem;
    /* border: .125rem solid black; */
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 20%);
    box-shadow: inset 0 0 5px black;
}
.ref-container.active:hover
{
    box-shadow: inset 0 0 15px 3px black;
    transition: .2s;
}
.ref-container.active a
{
    text-decoration: none;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.back-button-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    width: 2.6rem;
    aspect-ratio: 1 / 1;
    top: 50%;
    left: 3%;
    transform: translate(50%, -50%);
    opacity: 0;
}
.back-button-container.active
{
    transform: translate(0, -50%);
    opacity: 1;
    transition: .4s;
}

.back-button
{
    width: 80%;
    height: .15rem;
    background-color: black;
}
.back-button:before, .back-button:after
{
    content: "";
    position: absolute;
    width: 42%;
    height: .15rem;
    background-color: black;
}
.back-button:before
{
    top: 60%;
    transform: rotate(33deg);
}
.back-button:after
{
    top: 33%;
    transform: rotate(-35deg);
}
.content-wrapper
{
    position: absolute;
    height: calc(100vh - var(--dropdown-height));
    width: 100%;
}
@keyframes tri-field-expand
{
    0%
    {
        height: 0%;
    }
    100%
    {
        height: 80%;
    }
}
@keyframes tri-field-enter
{
    0%
    {
        top: 0%;
    }
    100%
    {
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
.tri-field-container
{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: max(20%, 20rem);
    height: 0%;

    animation-name: tri-field-enter, tri-field-expand;
    animation-delay: .2s, .7s;
    animation-duration: .5s, .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.tri-field-big.first
{
    border-bottom: none;
}

.tri-field-big
{
    height: 50%;
    width: 100%;
    border: .1rem solid black;
}
.tri-field-big:hover
{
    background: rgb(181, 179, 179);
    cursor: pointer;
}
@keyframes tri-field-middle-expand
{
    0% { height: 0%; opacity: 1; }
    100% { height: calc(100% / 3); opacity: 1; }
}
.tri-field-middle
{
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;

    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: .1rem solid black;
    z-index: 2;
    background: #e8e8e8;
    animation-name: tri-field-middle-expand;
    animation-duration: .3s;
    animation-delay: .9s;
    animation-fill-mode: forwards;
}
@keyframes reset-button-container-in
{
    0% { right: -50% }
    100% {  }
}


.reset-button-container
{
    position: absolute;
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    /* background: black; */
    cursor: pointer;

    top: 45%;
    right: 10%;
    transform: translateY(-50%);
    border-bottom: .125rem solid black;

    animation-name: reset-button-container-in;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    
}
.reset-button-container::before,
.reset-button-container::after
{
    content: "";
    position: absolute;
    width: 100%;
    height: .125rem;
    background: black;
    bottom: 39%;
}
.reset-button-container::before
{
    left: -25%;
    transform: rotate(-60deg);
}
.reset-button-container::after
{
    left: 25%;
    transform: rotate(60deg);
}
.reset-button-container div
{
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
}
@keyframes minus-button-hover
{
    0% { background: red; }
    100% { background: rgb(243, 173, 173); }
}
@keyframes minus-button-in
{
    0% { opacity: 0 }
    100% { opacity: 1 }
}
.minus-button
{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 7rem;
    height: 1.5rem;
    background: rgb(220, 107, 107);
    cursor: pointer;

}
.minus-button.start
{
    opacity: 0 !important;
    animation-name: minus-button-in;
    animation-duration: .3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.minus-button:before
{
    content: "";
    position: absolute;
    height: 15%;
    width: 20%;
    background: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.minus-button:hover
{
    opacity: 1;
    animation-name: minus-button-hover;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.minus-button.first
{
    top: -7%;
}
.minus-button.second
{
    top: 107%;
    transform: translate(-50%, -100%);
}
.popup-container
{
    visibility: hidden;
}

.popup-container.active
{
    visibility: visible;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    /* background: rgba(0, 0, 0, 50%);   */
}
@keyframes popup-in
{
    0% { top: 100%; }
    100% { top: 40%; transform: translateY(-50%, -50%); }
}

.popup.active
{
    display: grid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: 20%;
    background: white;
    animation-name: popup-in;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);

    border-radius: 10%;
    border: .125rem dotted black;
}
@keyframes popup-out
{
    0% { top: 40%; transform: translateY(-50%, -50%); }
    100% { top: 100%; }
}
.popup.active.out
{
    animation-name: popup-out;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}
.popup.active .popup-text-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
}

.popup.active .popup-text
{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    font-size: 1.4rem;
}

.popup.active .popup-cancel-container
{
    position: relative;
}
.popup.active .popup-cancel,
.popup.active .popup-confirm
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 70%;
    background: #e74c3c;
    cursor: pointer;
}

.popup.active .popup-confirm-container
{
    position: relative;
}
.popup.active .popup-confirm
{

    background: #f1c40f;
}
.name-container
{
    visibility: hidden;
}
.name-container.active
{
    width: 3rem;
    height: 1rem;
    z-index: 2;
    --distance-from-border: 2%;
    visibility: visible;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    /* background: rgba(0, 0, 0, 20%); */
}
.name-container.active span
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: text;
}
.name-container.first.active
{
    top: var(--distance-from-border);
}
.name-container.second.active
{
    bottom: var(--distance-from-border);
}
.player-point-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.tri-field-middle:before,
.tri-field-middle:after
{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35%;
    height: .125rem;
    background: black;
}
.tri-field-middle:before
{
    transform: translate(-50%, -50%) rotate(45deg);
}
.tri-field-middle:after
{
    transform: translate(-50%, -50%) rotate(-45deg);
}
.player-set-container
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    width: 2.4rem;
    height: 5rem;
    /* background: rgba(0, 0, 0, 20%); */
}
.player-set
{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}